JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password

ANALYST_USERNAME=your_analyst_username
ANALYST_PASSWORD=your_analyst_password
