streamlit
fastapi
uvicorn
pandas
numpy
geopandas
plotly
folium
streamlit-folium
scikit-learn
xgboost
shap
joblib
python-jose
passlib[bcrypt]
python-multipart
matplotlib
seaborn
pyproj
shapely
fiona
rtree